#!/usr/bin/env ruby

#
# Styles
#

compile '/sass/style.scss' do
  filter :sass, Compass.sass_engine_options
  write "/cdn/css/style.css"
end

ignore '/sass/**/*'



#
# Scripts
#

compile '/js/scripts.js' do
  filter :erb # Necessary for merging into scripts.js
  filter :uglify_js
  write '/cdn' + item.identifier.to_s
end

ignore '/js/**/*'



#
# Images
#

# Run all images through a lossless image compressor
compile '/images/**/*' do
  filter :image_compressor,
         :pngout   => false,
         :advpng   => {:level => 1},
         :optipng  => {:level => 1},
         :pngcrush => false,
         :svgo   => false,
         :gifsicle => false if item.binary?
  write "/cdn#{item.identifier.to_s}"
end

# Create 1280/820/512px wide images of portfolio entries
compile '/images/portfolio/**/*', rep: :size_1280 do
  filter :image_resizer, :width => 1280 if item.binary?
  write "/cdn#{item.identifier.without_ext}-1280.#{item.identifier.ext}"
end

compile '/images/portfolio/**/*', rep: :size_820 do
  filter :image_resizer, :width => 820 if item.binary?
  write "/cdn#{item.identifier.without_ext}-820.#{item.identifier.ext}"
end

compile '/images/portfolio/**/*', rep: :size_512 do
  filter :image_resizer, :width => 512 if item.binary?
  write "/cdn#{item.identifier.without_ext}-512.#{item.identifier.ext}"
end



#
# LaTeX
#

compile '/latex/**/*.tex' do
  filter :latex, :sty_dir => 'sty/'
  write '/' + File.basename(item.identifier.without_ext) + '.pdf'
end
ignore '/latex/**/*'



#
# Portfolio
#

ignore '/portfolio/disabled/**/*'
compile '/portfolio/**/*' do filter :erb end
route '/portfolio/**/*' do nil end



#
# Contact Info
#

compile '/contact_info/**/*' do filter :erb end
route '/contact_info/**/*' do nil end



#
# Profiles
#

compile '/profiles/**/*' do filter :erb end
route '/profiles/**/*' do nil end



#
# Defaults
#

compile '/**/*.{html,md}' do
  filter :erb
  layout '/default.html'

  if item.identifier =~ '/index.*'
    write '/index.html'
  else
    write item.identifier.without_ext + '/index.html'
  end
end

passthrough '/**/*'

layout '/**/*', :erb
