#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#	identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#	rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#	“content/about.html”). To select all children, grandchildren, … of an
#	item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#	because “*” matches zero or more characters.

# TODO This should probably be moved to lib/default.rb
# Prevent loading Compass multiple times when using an automatic compiler
unless defined? LOADED_DEFAULT_CONFIG
	LOADED_DEFAULT_CONFIG = true

	require 'compass'
	Compass.add_project_configuration 'compass_config.rb' 
end



# Compile sass/style.scss with Compass
compile '/media/sass/style/' do
	filter :sass, Compass.sass_engine_options
end

# Run all images through a lossless image compressor
compile '/media/images/*/' do
	if item.binary?
		filter :image_compressor, :pngout => false, :advpng => false, :optipng => false, :pngcrush => false, :nice => 10
	end
end

# Don’t filter or layout other media files
compile '/media/*' do
	nil
end

# General compilation
compile '*' do
	if item.binary?
		# Don’t filter binary items
	else
		filter :erb
		layout 'default'
	end
end



# Route compiled style.scss to a css dir
route '/media/sass/style' do
	'/media/css/style.css'
end

# Don't route other sass files
route '/media/sass/*' do
	nil
end

# Route media files with their file extensions
route '/media/*' do
	item.identifier.chop + '.' + item[:extension]
end

# Don't route data files
route '/data/*' do
	nil
end

# Don't route portfolio items
route '/portfolio/*' do
	nil
end

# General routing
route '*' do
	if item.binary?
		# Write item with identifier /foo/ to /foo.ext
		item.identifier.chop + '.' + item[:extension]
	else
		# Write item with identifier /foo/ to /foo/index.html
		item.identifier + 'index.html'
	end
end



layout '*', :erb
