.contact-info {
	& > li {
		margin-right: 1em;
		display: inline-block;
		position: relative;

		&:hover {
			.contact-data {
				transform: translateY(0);
				opacity: 1;
				left: 0;
				right: auto;
			}
		}
	}
}

.contact-link {
	@include adjust-font-size-to($h3-font-size);
}

.contact-data {
	@extend %tooltip;

	transition: opacity 0.35s, transform 0.35s;

	transform: translateY(-1em);
	opacity: 0;
	left: -9999px;

	.tooltips-top & {
		@extend %tooltip-top;
	}
}

.contact-desc {
	margin-top: 0.5em;
	display: block;
}
