.contact-info {
	& > li {
		margin-right: 1em;
		display: inline-block;
		position: relative;

		&:hover {
			.contact-data {
				left: auto;
			}
		}
	}
}

.contact-link {
	@include adjust-font-size-to($h3-font-size);
}

.contact-data {
	@extend %tooltip;

	position: absolute;
	left: -9999px;

	.tooltips-top & {
		@extend %tooltip-top;
	}
}

.contact-desc {
	margin-top: 0.5em;
	display: block;
}
