.portfolio-entry {
	margin-bottom: rhythm(3);
	margin-left: nh-span(1) + nh-gutter();

	.entry-heading {
		margin-top: 0;
		margin-bottom: 0;
	}

	// Base styles

	& > .entry-layout {
		margin-bottom: rhythm(1);
	}

	.entry-body {
		margin-top: rhythm(1);
	}
}
