.portfolio-entry {
	margin-bottom: rhythm(3);

	&::after {
		content: '';
		display: block;
		clear: both;
	}

	& > .entry-heading {
		margin-top: 0;
		margin-bottom: 0;
	}

	& > .entry-date {
		text-transform: lowercase;
		color: lighten($primary-text-color, 35%);
	}

	& > .entry-body {
		@extend %image-right-body;
		margin-top: rhythm(1);
	}

	& > .entry-image {
		@extend %image-right;
		margin-left: column_span(1);
	}

	& > .entry-link {
		@extend %button;
	}
}
