.profile-body {
	@extend %image-right-body;
}

.profile-image {
	@extend %image-right;
	margin-top: rhythm(-5);
	position: relative; // Necessary for the color overlay

	// Triangular clipping mask
	$clipping-svg: 'data:image/svg+xml;utf8,<svg height="0" xmlns="http://www.w3.org/2000/svg" version="1.1"><clipPath id="c1" clipPathUnits="objectBoundingBox"><polygon points="0,1 0.25,0 1,0.75" /></clipPath></svg>#c1';
	$clipping-polygon: polygon(0 100%, 25% 0, 100% 75%);
	-webkit-clip-path: $clipping-polygon;
	clip-path: url($clipping-svg);
	clip-path: $clipping-polygon;

	// Accent color overlay
	&:after {
		background-color: rgba(red($accent-color), green($accent-color), blue($accent-color), 0.5);
		content: '';

		pointer-events: none; // Don't let this element block clicks

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.profile {
	& > h3 {
		@include pull(1);
	}

	& > footer {
		@include pad(2);
		float: left;

		& > h3 {
			@include pull(1, 7)
		}
	}

	// Apply a clearfix for the floats
	&:after {
		content: '';
		display: block;
		clear: both;
	}

    *zoom: 1; // Necessary to clearfix older IE
}
