%image-right-1280 {
	@include margin-trailer(1);
	margin-left: nh-span(2);
	width: nh-span(18);
	float: none;

	img {
		margin: 0 auto;
		width: 640px;
	}
}

%image-right-body-1280 {
	@include column-count(2);
	@include hyphens(auto);
	width: nh-span(18);
}
