%image-right-1280 {
	@include span(18);
	@include push(2);
	@include margin-trailer(1);
	float: none;

	img {
		margin: 0 auto;
		width: 640px;
	}
}

%image-right-body-1280 {
	@include span(18);
	@include column-count(2);
	@include hyphens(auto);
}
