$sans-serif: brandon-grotesque, Futura, 'Avenir Next', sans-serif;
$serif: adobe-garamond-pro, 'Adobe Garamond Pro', Georgia, serif;

$base-font-size:   18px;
$base-line-height: 27px;
$min-line-padding: 0;
$h1-font-size: 72px;
$h2-font-size: 36px;
$h3-font-size: 24px;
$h4-font-size: 21px;
$h5-font-size: 18px;
