<% if @primary_block %>
	<h2 class="entry-heading"><%= @item[:title] %></h2>
	<h3 class="entry-date"><%= @item[:date] %></h3>
<% end %>

<figure class="entry-image">
	<%=
	render $partial_layouts+'image',
	:alt    => @image_alt,
	:images => [
			{
			'src'      => $portfolio_images+@image+'-960.png',
			'high_src' => $portfolio_images+@image+'.png',
			'is_default'   => true,
			'serve_old_ie' => true,
			},
			{
			'src'      => $portfolio_images+@image+'-640.png',
			'high_src' => $portfolio_images+@image+'-960.png',
			'query'    => '(max-width: 760px)',
			},
			{
			'src'      => $portfolio_images+@image+'-480.png',
			'high_src' => $portfolio_images+@image+'-640.png',
			'query'    => '(max-width: 570px)',
			},
		]
	%>
</figure>

<div class="entry-body">
	<%= content_for(@item, :body) %>

	<% if @primary_block and @item[:url] %>
		<a href="<%= @item[:url] %>" class="entry-link" target="_blank">
			Visit Site
		</a>
	<% end %>
</div>
