<article class="entry-layout image-right">
	<% if @layout_config[:primary_block] %>
		<h2 class="entry-heading"><%= @item[:title] %></h2>
		<h3 class="entry-date"><%= @item[:date] %></h3>
	<% end %>

	<%=
	render $portfolio_layouts+'shared/entry-image',
	:layout_config => @layout_config
	%>

	<div class="entry-body">
		<%= content_for(@item, :body) %>

		<% if @layout_config[:primary_block] and @item[:url] %>
			<a href="<%= @item[:url] %>" class="entry-link" target="_blank">
				Visit Site
			</a>
		<% end %>
	</div>

</article>
