%button {
	@include adjust-font-size-to($h3-font-size);
	background: $background-color;
	border: 2px solid $accent-color;
	padding: 0.25em 1ex;
	transition: all 0.3s ease;
	font-family: $sans-serif;
	font-style: normal;
	color: $accent-color;

	&:hover {
		background: $accent-color;
		color: $background-color;
	}
}
