%image-right {
	transition: width 0.5s, margin 0.5s;

	margin-bottom: rhythm(1);
	margin-left: column_gutter();
	max-width: column_span(7, 14);
	float: right;

	img {
		display: block; // Removes whitespace around image
		max-width: 100%;
	}
}

%image-right-body {
	overflow: hidden; // Prevents text from spilling out under the entry-image
}
