.portfolio-entry {
	margin-bottom: rhythm(3);

	// In-progress portfolio entries
	&.in-progress {
		// Base styles

		.entry-heading {
			margin-top: 0;
			text-transform: none;
		}

		.entry-link {
			@include adjust-font-size-to($h3-font-size);
		}

		// Layout styles

		@import 'portfolio/in-progress/default';
		@import 'portfolio/in-progress/image-left';
	}
}
