.contacts {
	& > li {
		margin-right: 1em;
		display: inline-block;

		&:hover {
			.contact-info {
				top: auto;
				left: auto;
			}
		}
	}
}

.contact-link {
	@include adjust-font-size-to(24px, 1);
}

.contact-info {
	@extend %tooltip;

	position: absolute;
	top: -9999px;
	left: -9999px;
}

.contact-desc {
	margin-top: rhythm(0.5);
	display: block;
}
