$grid-width: 1260;
$grid-columns: 21;
$grid-column-width: ($grid-width / $grid-columns) / $grid-width * 100%;

@mixin span($columns, $parent-size: $grid-columns) {
	$column-width: ($grid-width / $parent-size) / $grid-width;
	width: $column-width * $columns * 100%;
}

@mixin push($push-by, $parent-size: $grid-columns) {
	$column-width: ($grid-width / $parent-size) / $grid-width;
	margin-left: $column-width * $push-by * 100%;
}

@mixin pull($pull-by, $parent-size: $grid-columns) {
	$column-width: ($grid-width / $parent-size) / $grid-width;
	margin-left: -$column-width * $pull-by * 100%;
}
