body {
	@include downward-triangle-background($accent-color);
	background-color: $background-color;
	background-position: top center;
    background-repeat: repeat-x;
}

.container {
	padding: 0 1%;
}
