$sans-serif: futura-pt, 'Futura PT', Futura, 'Avenir Next', Avenir, sans-serif;
$serif: adobe-garamond-pro,  'Adobe Garamond Pro', Georgia, 'Times New Roman', Times, serif;

$base-font-size: 21px;
$base-line-height: 26px;
$min-line-padding: 0;
$h1-font-size: 36px;
$h2-font-size: 24px;
$h3-font-size: 24px;

@import 'compass/typography/vertical_rhythm';
@include establish-baseline;

body {
	font-family: $serif;
	color: $primary-text-color;
}

h1 {
	@include adjust-font-size-to($h1-font-size);
	margin: rhythm(3, $h1-font-size) 0;
	text-transform: lowercase;
	font-family: $sans-serif;
	color: $secondary-text-color;

	& > em {
		font-style: normal;
		color: $accent-color;
	}
}

h2 {
	@include adjust-font-size-to($h2-font-size);
	margin: rhythm(1, $h2-font-size) 0;
	text-transform: lowercase;
	font-family: $serif;
	color: $secondary-text-color;
}

h3 {
	@include adjust-font-size-to($h3-font-size);
	margin: rhythm(1, $h3-font-size) 0;
	text-transform: lowercase;
	font-family: $serif;
	color: $primary-text-color;
}

.inline-heading {
	display: inline-block;

	// Targets an inline heading directly after an inline heading
	& + & {
		margin-left: 1em;
	}
}

a {
	text-decoration: none;
	text-transform: lowercase;
	font-style: italic;
	color: $primary-text-color;

	&:hover {
		color: $accent-color;
	}
}
