@mixin wave-background($color, $opacity: 1) {
	// Convert the color to RGB for safe use in embedded SVG
	$rgb: 'rgb(#{red($color)},#{green($color)},#{blue($color)})';

	background-image: url('data:image/svg+xml;utf8,<svg width="26" height="16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M 0,0 v 5.75 V 7.5 c 5.75,0,5.75,5,13,5 s 7.5-5,13-5 V 5.75 V 0 H 0 z" fill="#{$rgb}" fill-opacity="#{$opacity}" /></svg>');
	background-size: 52px;
}
