body {
	@include downward-triangle-background($accent-color);
	background-color: $background-color;
	background-position: top center;
    background-repeat: repeat-x;
}

.container {
	margin: 0 auto;
	padding: 0 50/1280*100%;
	max-width: 1920px;
}
