@import 'compass/css3/transform';
@import 'compass/typography/vertical_rhythm';

$sans-serif: futura-pt, 'Futura PT', Futura, 'Avenir Next', Avenir, sans-serif;
$serif: adobe-garamond-pro, 'Adobe Garamond Pro', Georgia, 'Times New Roman', Times, serif;

$base-font-size:   21px;
$base-line-height: 26px;
$min-line-padding: 0;
$h1-font-size: 48px;
$h2-font-size: 48px;
$h3-font-size: 26px;
$h4-font-size: 21px;

@include establish-baseline;

body {
	font-family: $serif;
	color: $primary-text-color;
}

h1 {
	@include adjust-font-size-to($h1-font-size);
	margin: rhythm(3, $h1-font-size) 0;
	text-transform: lowercase;
	font-family: $sans-serif;
	color: $secondary-text-color;

	& > em {
		font-style: normal;
		color: $accent-color;
	}

	.inverted & {
		color: $primary-text-color;

		& > em {
			color: $accent-contrast-color;
		}
	}
}

h2 {
	@extend h1;
	color: $accent-color;

	.inverted & {
		color: $accent-contrast-color;
	}
}

h3 {
	@include adjust-font-size-to($h3-font-size);
	margin: rhythm(1, $h3-font-size) 0;
	text-transform: lowercase;
	font-family: $serif;
	color: $primary-text-color;
}

.heading-aside {
	display: inline-block;
	font-family: $serif;
	color: $secondary-text-color;

	h1 & {
		@include adjust-font-size-to($h3-font-size, $from-size: $h1-font-size);
	}

	h2 & {
		@include adjust-font-size-to($h3-font-size, $from-size: $h2-font-size);
	}
}

p, ol, ul, blockquote {
	margin-bottom: rhythm(1);
}

a {
	display: inline-block;
	text-decoration: none;
	text-transform: lowercase;
	font-style: italic;
	color: $primary-text-color;

	&:hover {
		color: $accent-color;
	}

	&:active {
		@include translate(1px, 1px);
	}

	.inverted & {
		color: $accent-contrast-color;

		&:hover {
			color: $primary-text-color;
		}
	}
}
