<%#

Generates markup for use with picturefill.js.

Arguments:
	alt (string): The image alt.
	images (array): An array of image hashes with the following values:
		src (string): The image's source.
		high_src (string): Optional high-resolution image source.
		is_default (bool): Whether this image should be used when JS is not available. (Default false)
		serve_old_ie (bool): Whether to serve this image to old IE which can't handle picturefill.js. (Default false)

%>

<span data-picture data-alt="<%= @alt %>">
	<% @images.each do |image| %>
		<span data-src="<%= image['src'] %>" data-media="<%= image['query'] %>"></span>

		<%# Output a high-resolution image if one is specified %>
		<% if image['high_src'] %>
		<span data-src="<%= image['high_src'] %>" data-media="<%= image['query'] %> and (min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 1.5)"></span>
		<% end %>
	<% end %>

	<!--[if (lt IE 9) & (!IEMobile)]>
		<span data-src="<%= @images.find { |i| i['serve_old_ie'] }['src'] %>"></span>
	<![endif]-->

	<noscript>
		<img src="<%= @images.find { |i| i['is_default'] }['src'] %>" alt="<%= @alt %>" />
	</noscript>
</span>
