<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title><%= @item[:title] %></title>

    <link rel="stylesheet" href="media/css/style.css">
	<script src="media/js/picturefill.js"></script>

	<script src="//use.typekit.net/vvg8atw.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
	<div class="container">
		<%= yield %>
	</div>

	<footer id="footer" class="inverted" role="contentinfo">
		<h1>That's it for now. <em>Thank you</em> for checking out my portfolio!</h1>

		<div id="footer-contents">
			<%=
			render $partial_layouts+'contacts',
			:classes  => 'tooltips-top',
			:contacts => $contacts
			%>

			<p class="copyright">&copy; 2013 Nate Hart</p>
		</div>
	</footer>
</body>
</html>
