.image-right {
	overflow: hidden;

	.entry-body {
		@include pad(2);
		overflow: hidden; // Prevents text from spilling out under the entry-image
	}

	.entry-image {
		@include pad(1);
		float: right;
		transition: width 0.5s, padding-right 0.5s;
		width: 960px;

		img {
			display: block;
			max-width: 100%;
		}
	}
}
