.mobile {
	& > .entry-image {
		position: relative;
	}

	.mobile-portrait {
		position: relative;
		z-index: 1;
		max-width: 320px;
	}

	.mobile-landscape {
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 0;
		max-width: 480px;
	}
}
