.mobile {
	overflow: hidden;

	.entry-body {
		@include span(7);
		@include push(2);
		margin-top: rhythm(2);
		float: left;
	}

	.mobile-images {
		@include span(11);
		@include push(1);
		float: left;
		position: relative;
		overflow: hidden;
	}

	.mobile-portrait {
		max-width: 320px;

		img {
			max-width: 100%;
		}
	}

	.mobile-landscape {
		@include push(4, 11);
		position: absolute;
		bottom: 0;
		max-width: 480px;

		img {
			max-width: 100%;
		}
	}
}
