---
title: Agame Yoga &amp; Meditation Center
date: 2010-06-23
url: http://agameyoga.com
---

<% content_for :body do %>
<p>Agame Yoga and Meditation Center is a place where people can come to de-stress and relax. I helped Agame reach out with their online presence by making their existing design more accessible and assisting with their visual identity.</p>

<p>Agame Yoga and Meditation Center is a place where people can come to de-stress and relax. While I was originally tasked with creating an animated Flash intro for them, I later contacted them and offered to improve their site by moving it away from Flash and recreating their existing design in html. I reconstructed the Agame website in WordPress, where it was now accessible on mobile devices and much faster. I also helped with improving their logo and visual identity.</p>

<p>In 2012 I was contacted again to help refresh the site&rsquo;s design, utilizing more imagery and less text. I also assisted with reorganizing the website and optimizing it for touch devices, as well as designing a blog for Agame&rsquo;s teachers to share their thoughts.</p>
<% end %>

<%=
render $portfolio_layouts+'image-right',
:layout_config => {
	:primary_block => true,
	:image_alt => 'Screenshot of the Agame home page',
	:images => [
		{
		'src'      => $portfolio_images+'agame/home.png',
		'high_src' => $portfolio_images+'agame/home@2x.png',
		'is_default'   => true,
		'serve_old_ie' => true,
		},
	],
}
%>
