---
title: University of Rochester<br />Computer Interest Floor
date: 2013-03-14
url: https://cif.rochester.edu
---

<% content_for :body do %>
<p>In 2012 I was elected webmaster for the University of Rochester&rsquo;s Computer Interest Floor, a group of individuals who host seminars and provide tech support for the University community, amongst other things. I decided that CIF needed a new face for itself online and began redesigning the site over the summer following my freshman year.</p>

<p>My first step was inventorying their content to understand what purposes the site serves, and then deciding which content is unnecessary. Once that was done, I started working on a design that could be used from everything from the main site to their account management system and any future projects. Their public site was moved to WordPress, which I tweaked to be more friendly to future editors who may not be very tech-savvy. After that, I refactored all of the libraries CIF had written in the past for interfacing with Active Directory to make it more efficient, more secure, and easier for future members to develop with. I'm hoping that this will lay the groundwork for future CIF members to start adding new features rather than fixing old problems.</p>
<% end %>

<%=
render $portfolio_layouts+'entry',
:image => 'cif/mockup',
:image_alt => 'Mockup of the CIF home page',
:primary_block => true
%>
