---
title: University of Rochester<br />Computer Interest Floor
date: November 2012 to August 2015
url: https://cif.rochester.edu
---

<% content_for :body do %>
<p>In 2012 I was elected webmaster for CIF, a group of individuals who host seminars and provide tech support for the university community, amongst other things. I decided that CIF needed a new face for itself online and began redesigning the site over the summer after my freshman year.</p>

<p>I started by inventorying their content to understand what purposes the site serves, and then decided which content is unnecessary. Once that was done, I started work on a design that could be used for everything from the main site to their account management system and any future projects. Their public site was moved to WordPress, which I tweaked to be more friendly to future editors who may not be very tech-savvy. I then refactored all of the old Active Directory integration code to make it more efficient, more secure, and easier for future members to develop with.</p>

<p>I'm hoping that this laid the groundwork for future CIF members to add new features rather than fixing old problems.</p>
<% end %>

<%=
render $portfolio_layouts+'entry',
:image => 'cif/mockup',
:image_alt => 'Mockup of the CIF home page',
:primary_block => true
%>
