---
title: Mood &amp; Figure
date: 2011-12-31
url: http://moodandfigure.com
---

<% content_for :body do %>
<p>Mood &amp; Figure is a collection of inspirational images I&rsquo;ve found over the years. The site is an image blog that playfully utilizes color data taken from each entry and encourages visitors to show their gratitude towards the artists. As one of my side projects, I still have some big plans for it!</p>

<p>Mood &amp; Figure is an image blog that aims to collect creative and inspirational works while crediting their original creators.</p>

<p>Built on top of WordPress with lots of customized functionality, every image has its color data analyzed and an accent color extracted from it, which is then subtly applied to that entry on the site. There is also tag-based searching that allows you to filter through the various categories of images (such as photographs and print designs), as well as a system for giving thanks to the original artist (similar to &ldquo;liking&rdquo; a post).</p>

<p>As this is a side project of mine, I&rsquo;m constantly coming up with ideas for new directions to take it in.</p>
<% end %>

<%=
	render $portfolio_layouts+'image-right',
	:layout_config => {
		:primary_block => true,
		:image_alt => 'Screenshot of the Mood &amp; Figure home page',
		:images => [
			{
			'src'      => $portfolio_images+'mood-and-figure/home.png',
			'high_src' => $portfolio_images+'mood-and-figure/home@2x.png',
			'is_default'   => true,
			'serve_old_ie' => true,
			}
		]
	}
%>

<% content_for :body do %>
<p>The color archive provides an overview of the accent colors extracted from each post on the site. I plan on adding more interesting color-based functionality in the future.</p>
<% end %>

<%=
	render $portfolio_layouts+'image-left',
	:layout_config => {
		:image_alt => 'Screenshot of Mood &amp; Figure&rsquo;s color page',
		:images => [
			{
			'src'      => $portfolio_images+'mood-and-figure/color.png',
			'high_src' => $portfolio_images+'mood-and-figure/color@2x.png',
			'is_default'   => true,
			'serve_old_ie' => true,
			}
		]
	}
%>

<% content_for :body do %>
<p>Mood &amp; Figure also features a remarkable mobile experience by gracefully adapting to smaller screen sizes. All images are loaded adaptively to prevent mobile visitors from downloading more data than necessary.</p>
<% end %>

<%=
	render $portfolio_layouts+'mobile',
	:layout_config => {
		:primary_block => true,
		:portrait_alt => 'Screenshot of Mood &amp; Figure&rsquo;s mobile design in portrait orientation',
		:portrait_images => [
			{
			'src'      => $portfolio_images+'mood-and-figure/mobile-portrait.png',
			'is_default'   => true,
			'serve_old_ie' => true,
			}
		],
		:landscape_alt => 'Screenshot of Mood &amp; Figure&rsquo;s mobile design in landscapet orientation',
		:landscape_images => [
			{
			'src'      => $portfolio_images+'mood-and-figure/mobile-landscape.png',
			'is_default'   => true,
			'serve_old_ie' => true,
			}
		],
	}
%>
