---
title: Nejt
date: 2012-03-19
url: http://nejt.net
---

<% content_for :body do %>
<p>Nejt is a public sketchbook for myself: a collection of all things visual and audial that I've worked on. It's a multimedia blog serving as a playground for me to experiment with new technologies on the web, like native audio.</p>

<p>As someone who is constantly creating things, I wanted a place where I could post my music and drawings to share them with the world. That place is Nejt, a multimedia blog running on WordPress that uses some of the latest in html and css to provide a unique experience.</p>

<p>Like most of my side projects, it serves as a safe place to experiment with new technology and try new things. While Nejt does make use of html5 audio and other innovative additions to the web, it degrades gracefully in less capable browsers.</p>
<% end %>

<%=
render $portfolio_layouts+'entry',
:image => 'nejt/home',
:image_alt => 'Screenshot of the Nejt home page',
:primary_block => true
%>
