---
title: Nejt
date: March 2012
url: http://nejt.net
---

<% content_for :body do %>
<p>Nejt is a multimedia blog for posting my creative works. It also serves as a playground for me to experiment with new web technologies.</p>

<p>Like most of my side projects, it serves as a safe place to experiment and try new things. While Nejt does make use of newer technology like html5 audio, it degrades gracefully in less capable browsers.</p>
<% end %>

<%=
render $layouts['portfolio entry'],
:image         => 'nejt/home',
:image_alt     => 'Screenshot of the Nejt home page',
:primary_block => true
%>
